{% extends "app_base_panel.html" %}
{% load static %}
{% block head %}
{% endblock %}
{% block content %}
    <div class="col-md-12" style="width: 100%">
        <form id="id_formulario_generico" class="save-modal-form-generic" autocomplete="off" method="POST"
              enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card mb-3">
                <div class="card-body ">

                    <div class="row">
                        {% block formulario_form %}
                        {% endblock %}
                    </div>
                    <div class="modal-footer justify">
                        <a href="{% url cancelar %}" style="display: inline-block;height: 2.5rem;padding: 0 1.9rem;color: white;text-align: center;font-size: 0.7rem;font-weight: 600;line-height: 2.5rem;letter-spacing: 0.1rem;text-transform: uppercase;text-decoration: none;white-space: nowrap;background: #d33;border-radius: 4px;border: 1px solid #BBB;cursor: pointer;-webkit-transition: border 0.2s;transition: border 0.2s;" class="btn btn-primary">Cancelar</a>
                        <button style="background: #0f6674; color: white" type="submit" class="btn btn-primary">Guardar</button>
                    </div>

                </div>
            </div>
        </form>
    </div>

{% endblock %}
{% block javascript %}
    <script>

        $("#id_formulario_generico").attr('action', '/administrativo/editar_organizacion/');

        function toast_error(text) {
            $.toast({
                heading: "Ha ocurrido un error!",
                text: text,
                icon: 'error'
            })
        }

        $(document).ready(function () {
            $(".enviar-datos-form").submit(async function (e) {
                e.preventDefault();  // Evita el envío del formulario por defecto
                // Encuentra el modal padre del formulario actual
                const $modal = $(this).closest('.modal');
                // Realiza la solicitud AJAX y maneja la Promesa
                const url = $(this).attr("action")
                const formData = new FormData(this);
                try {
                    const response = await SendPostRequest(url, formData, true);
                    if (response.success) {
                        location.reload();
                    } else {
                        toast_error(response.errors);
                    }
                } catch (error) {
                    toast_error("Error en la solicitud AJAX.");
                }
            });
        });
    </script>
{% endblock %}
