<!-- Page Header -->
<div class="col-lg-12 col-md-12 col-12">
    <div class="border-bottom pb-4 mb-4 d-md-flex align-items-center justify-content-between">
        <div class="mb-3 mb-md-0">
            <h1 class="mb-1 h2 fw-bold">{{ titulo }}</h1>
            {% if subobjeto %}<h3 class="mb-1 h4 fw-bold">{{ subobjeto }}</h3>{% endif %}
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="/">Inicio/</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
